.container {
	max-width: 100%;
	width: 1280px;
}

/*section {
	background-color: #666666;
}

header {
	height: 100%;
}
.botones {
	background-color: #999999;
	width: 250px;
	height: 200px;
	text-align: center;
	border-radius: 10px;
}

nav ul li {
	display: inline-table;
	margin-left: 20px;
}

.uno {
	margin-left: 900px;
	margin-top:-200px;
}

.botones h2 {
	color: white;
	font-size: 20px;
	font-family: "open sans";
	font-weight: lighter;
	padding-top: 15px;
}

input {
	width: 200px;
	height: 25px;
	margin-top: 6px;
}

input:last-child {
	background-color: #0080FF;
}

button a {
	text-decoration: none;
	font-weight: lighter;
	font-family: Helvetica;
	color: white;
	font-size: 13px;
	
}

button {
	background-color: #0080FF;
	height: 27px;
	width: 206px;
	margin-top: 6px;
}*/

