<!DOCTYPE html>
<html>
	<head>
		<title>Layout Laboratoria</title>
		<link rel="stylesheet" type="text/css" href="css/main_layout.css">
	</head>
	<body>
		<header class="logo">
			<img src="img/logo.png" alt="Laboratoria">
		</header>
		<section class="container">
			<hr class="Botones_desplegables">
			<div class="Menu">
				<ul class="desplegar">
					<li class="li1">
						<a href="https://www.codecademy.com">Inicio</a>
					</li>
					<li class="separador">/</li>
					<li class="li1">
						<a href="https://www.codecademy.com">Sobre Nosotros</a>
					</li>
					<li class="separador">/</li>
					<li class="li1">
						<a href="https://www.codecademy.com">Nuestras Coders</a>
					</li>
					<li class="separador">/</li>
					<li class="li1">
						<a href="https://www.codecademy.com">Contacto</a>
					</li>

				</ul>
			</div>
			<hr class="Botones_desplegables">
			<nav>
				<div class="Grupal">
					<img src="img/grupal.jpg" alt="coders">
				</div>
			</nav>
			<div class="texto">
			<hr class="textos">
				<p>Laboratoria existe para encontrar jóvenes mujeres con potencial pero sin acceso a educación superior de calidad, y transformarlas en talentosas desarrolladoras web, que sirven clientes locales e internacionales con soluciones digitales de excelente calidad
				</p>
			<hr class="textos">
			</div>
			<div class="imagenes">
			<h3>Nuestras coders</h3>
			<hr class="coders">
				<div class="LasCoders">
					<div class="foto">
						<img src="img/profile-1.png"/>
						<div class="nombre">Nombre y apellido</div>
					</div>


					<div class="foto">
						<img src="img/profile-2.png"/>
						<div class="nombre">Nombre y apellido</div>
					</div>

					<div class="foto">
						<img src="img/profile-3.png"/>
						<div class="nombre">Nombre y apellido</div>
					</div>

					<div class="foto">
						<img src="img/profile-4.png"/>
						<div class="nombre">Nombre y apellido</div>
					</div>


					<div class="foto">
						<img src="img/profile-5.png"/>
						<div class="nombre">Nombre y apellido</div>
					</div>


					<div class="foto ">
						<img src="img/profile-6.png"/>
						<div class="nombre">Nombre y apellido</div>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>