.caja{width: 200px;
	height: 200px;
	background-color: #5CABFF;

}

.caja-inline{
	display: inline-block;

}
.conteiner{
	margin: 8px;
	width: 600px;
	background-color: #67FF0C;
	padding: 10px;
}
.caja-float{
	float: right;

}