.box1{
	width: 200px;
	height: 200px;
	background-color: #FFE81D;
	float: left;
	border: 1px solid black
}


.box2{
	width: 200px;
	height: 200px;
	background-color: #2411FF;
	float: left;
	border: 1px solid black
}

.box3{
	width: 200px;
	height: 200px;
	background-color: #FF1C2D;
	float: left;
	border: 1px solid black
}